@import "mixins"
@keyframes blink
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

@keyframes fadeIn
    0%{ opacity: 0; }
    100%{ opacity: 1 }

@keyframes moveUp
    0%{ transform(translate(0,20px))}
    100% { transform(translate(0,0px)) }

@keyframes invisible
    0%,100%{ opacity: 0 }
