//Defauults
$padding ?= 10px
$padding-large ?= 20px
$padding-small ?= 5px
$index-top ?= 10
$index-middle ?= 5
$index-bottom ?= 0
$middle ?= 768px
$small ?= 480px


.full-height{ height: 100% !important;}
.full-width{ width: 100% !important; }

.right{ float: right; }
.left{ float: left; }
.relative{ position: relative; }
.full-height{ height: 100%; }
.index-top{ z-index: $index-top; }
.index-middle{ z-index: $index-middle; }
.index-bottom{ z-index: $index-bottom; }
.hide{ display: none; }
.invisible{ visibility: hidden; }

@media(max-width: $middle){
  .tablet-full-width { width: 100% !important;}
}
@media(max-width: $small){
  .mobile-full-width { width: 100% !important;}
}

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
