$p ?= 10px
$p-large ?= 20px
$p-small ?= 5px

/*
* Base Padding Helpers
*/

.p{ padding: $p; }
.p--l{ padding: $p-l; }
.p--s{ padding: $p-s; }

/*
* Base Paddings
*/

.m{ margin: $p; }
.m--l{ margin: $p-l; }
.m--s{ margin: $p-s; }

/*
* Directional Margin Helpers
*/

.m-l{ margin-left: $p;}
.m-t{ margin-top: $p;}
.m-r{ margin-right: $p;}
.m-b{ margin-bottom: $p;}

/*
* Large Direction Margin Helpers
*/

.m-t--l{ margin-top: $p-l; }
.m-l--l{ margin-left: $p-l; }
.m-r--l{ margin-right: $p-l; }
.m-b--l{ margin-bottom: $p-l; }

/*
* Small Direction Margin Helpers
*/

.m-t--s{ margin-top: $p-s; }
.m-l--s{ margin-left: $p-s; }
.m-r--s{ margin-right: $p-s; }
.m-b--s{ margin-bottom: $p-s; }

/*
* Directional Padding Helpers
*/

.p-l{ padding-left: $p;}
.p-t{ padding-top: $p;}
.p-r{ padding-right: $p;}
.p-b{ padding-bottom: $p;}

/*
* Large Direction Padding Helpers
*/

.p-t--l{ padding-top: $p-l; }
.p-l--l{ padding-left: $p-l; }
.p-r--l{ padding-right: $p-l; }
.p-b--l{ padding-bottom: $p-l; }

/*
* Small Direction Padding Helpers
*/

.p-t--s{ padding-top: $p-s; }
.p-l--s{ padding-left: $p-s; }
.p-r--s{ padding-right: $p-s; }
.p-b--s{ padding-bottom: $p-s; }

/*
* No Padding
*/

.no-p{ padding: 0; }
.no-p--l{ padding-left: 0; }
.no-p--t{ padding-top: 0; }
.no-p--r{ padding-right: 0; }
.no-p--b{ padding-bottom: 0; }

/*
* No Margin
*/

.no-m{ margin: 0; }
.no-m--l{ margin-left: 0; }
.no-m--t{ margin-top: 0; }
.no-m--r{ margin-right: 0; }
.no-m--b{ margin-bottom: 0; }
