//Defaults
$base ?= 16px;
$h1 ?= 2.5em;
$h2 ?= 2em;
$h3 ?= 1.5em;
$h4 ?= 1.3em;
$h5 ?= 1.1em;
$h6 ?= 1em;
$small ?= .8em;
$tiny ?= .65em;
$text-muted ?= #ccc;
$font-family ?= sans-serif;
$font-weight-heading ?= bold;
$body-color ?= #333;
$link-color ?= #2778e6;

body{ font-family: $font-family; color: $body-color;}
h1,.h1{ font-size: $h1; font-weight: $font-weight-heading;}
h2,.h2{ font-size: $h2; font-weight: $font-weight-heading;}
h3,.h3{ font-size: $h3; font-weight: $font-weight-heading;}
h4,.h4{ font-size: $h4; font-weight: $font-weight-heading;}
h4,.h4{ font-size: $h5; font-weight: $font-weight-heading;}
h5,.h5{ font-size: $h6; font-weight: $font-weight-heading;}

small, .small{ font-size: $small; }
.tiny{ font-size: .6em; }
.text-muted{ color: $text-muted !important; }
a{ color: $link-color; }
