// Grid Settings
$gutter = 5px; // Both for horizontal and vertical padding

$padding = 4px;
$button-padding = 8px 4px;
$padding-large = 15px;

// Font Settings
font-size = 14px;
font-family = 'Helvetica Neue', 'Roboto', 'sans-serif-light';
font-weight = 200;

// Text Colour
text-color = #333;
text-error = #961818;
text-button = #fff;
text-digits = #fff;
text-editor-statement = #fff;
$text-muted = bg-button-digits;

// Background Colours
brand-color = #E9F8DF;
bg-editor-statement = #3C3C52;
bg-editor-result = #fff;
body-background = #fff;

// Border Colour
$border = none;
$border-button-disabled = 1px solid #eee;
$border-color = #eee;

$unit-group-separator = 1px solid #eee;

//Keyboard
$btn-box-shadow = none; //0 2px 0px darken(bg-button, 10);
$btn-box-shadow-disabled = none;

$bg-button-disabled = transparent;
bg-button = #A5A4AF;//#C0BABA;
bg-button-insert = #E0A246;
bg-button-digits = #6A6A86;
bg-button-active = darken(bg-button, 5);
bg-digit = bg-button;
bg-digit-active = darken(bg-button-digits, 5);

bg-error = #CF6A6A;
bg-error-active = darken(bg-error, 10);

bg-navigation= bg-button;
bg-navigation-active= bg-button-digits;

bg-unit-button = bg-button;
bg-dimension-button = darken(bg-navigation, 40);
bg-dimension-button-selected = darken(bg-navigation, 10);
bg-special-looking=bg-error;
text-special-looking=text-error

border-radius = 3px;

editor-font-size = 2em;

$button-min-height = 100%;
phi = 1.6180;
//keyboard-height=(1/phi) * 100%; // 1/phi = phi - 1
keyboard-height=64%
editor-display-height = 100% - keyboard-height;
